<meta property="og:title" content="{{ title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:image" content="https://v1.opengraph.11ty.dev/{{ site.url }}">
<meta property="og:image:alt" content="{{ site.og_image_alt }}">