<!doctype html>
<html lang="{{ site.language }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or site.title }}</title>
        <meta name="description" content="{{ description or site.description }}">
        <link rel="alternate" href="feed/feed.xml" type="application/atom+xml" title="{{ site.title }}">
        {% include 'opengraph.njk' %}
    </head>
    <body>
        <button type="button" class="btn btn-danger btn-lg" id="btn-back-to-top">
            <i class="bi bi-arrow-up"></i>
        </button>
        <main data-pagefind-body>
            {%- include 'header.njk' %}
            {{ content | safe }}
        </main>
        {%- include 'footer.njk' %}
        <script type="module" src="/assets/js/main.js"></script>
    </body>
</html>