---
title: Posts
layout: page.njk
eleventyNavigation:
  key: Posts
  order: 2
---

<div class="row mb-2">
  {% for post in collections.posts | reverse %}
  <div class="col-md-6">
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis">{{
          post.data.tags | filterTagList
        }}</strong>
        <h3 class="mb-0">Featured post</h3>
        <div class="mb-1 text-body-secondary">
          <time
            class="postlist-date"
            datetime="{{ post.date | htmlDateString }}"
            >{{ post.date | readableDate("LLLL yyyy") }}</time
          >
        </div>
        <p class="card-text mb-auto">{% excerpt post.content %}</p>
        <a
          href="{{ post.url | url }}"
          class="icon-link gap-1 icon-link-hover stretched-link"
        >
          Continue reading
          <i class="bi bi-chevron-right"></i>
        </a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="{{post.data.image_path}}" alt="{{ post.data.title }}" class="img-fluid" />
      </div>
    </div>
  </div>
  {% endfor %}
</div>